---
import SocialHandlesIcons from "./SocialHandlesIcons.astro";
---

<div class="columns">
  <div class="column is-10">
    <div class="image is-128x128 is-centered">
    </div>
    <br />
    <div class="content">
      <p>
        Creator of <a href="https://github.com/dicedb/dice" target="_blank"
          >DiceDB</a
        >, ex-Google Dataproc, ex-Amazon Fast Data, ex-Director of Engg. SRE and
        Data Engineering at Unacademy. I spark engineering curiosity through my
        no-fluff engineering videos on
        <a href="https://www.youtube.com/c/ArpitBhayani" target="_blank"
          >YouTube</a
        >
        and my courses
      </p>
    </div>
    <SocialHandlesIcons />
  </div>
</div>
