---
import SocialHandlesIcons from "./SocialHandlesIcons.astro";
---

<div>
  <section class="section container">
    <div class="columns is-multiline is-mobile">
      <div class="column is-3-desktop is-6-tablet is-half-mobile">
        <div
          style="margin-bottom: 0.75em;"
          class="has-text-weight-bold has-text-grey"
        >
          DiceDB
        </div>
        <p>
          <a href="/get-started/installation" style="color: #333;"> Get Started</a>
        </p>
        <p>
          <a target="_blank" href="https://github.com/DiceDB/dice" style="color: #333;"> Star our repo</a>
        </p>
      </div>
      <div class="column is-3-desktop is-6-tablet is-half-mobile">
        <div
          style="margin-bottom: 0.75em;"
          class="has-text-weight-bold has-text-grey"
        >
          Developers
        </div>
        <p>
            <a href="/get-started/installation" style="color: #333;"> Quickstart</a>
          </p>
          <p>
            <a href="/get-started" style="color: #333;"> Docs</a>
          </p>
          <p>
            <a href="/commands" style="color: #333;"> Commands</a>
          </p>
          <p>
            <a href="/examples" style="color: #333;"> Examples</a>
          </p>
      </div>
      <div class="column is-3-desktop is-6-tablet is-half-mobile">
        <div
          style="margin-bottom: 0.75em;"
          class="has-text-weight-bold has-text-grey"
        >
          Socials
        </div>
        <p>
          <SocialHandlesIcons />
        </p>
      </div>
    </div>
    <br />
    <div class="columns has-text-centered">
      <div class="column is-centered">
        <br />
        <ul class="horizontal">
          <li style="margin-left: 0.5em">© DiceDB, 2024</li>
        </ul>
      </div>
    </div>
  </section>
</div>
