---
import { Github} from 'lucide-astro'
---

<div class="hero is-medium">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column is-8 has-text-centered">
        <div class="image has-image-centered is-128x128">
          <img src="/icon.png" alt="DiceDB Logo" />
        </div>
        <br />
        <h1 class="title is-size-1">Real-time at warp speed</h1>
        <p class="is-size-4">DiceDB is an in-memory database hyper-optimized for building real-time applications with SQL-based real-time reactivity baked in.</p>
        <br />
        <div class="buttons is-large is-centered">
          <a href="/get-started/installation/" class="button is-primary is-medium">
            <strong>Get Started</strong>
          </a>
          <a
              class="button is-medium"
              target="_blank"
              href="https://github.com/dicedb/dice"
              title="DiceDB source code on GitHub"
            >
              <span class="icon"><Github /></span>
              <span>GitHub (3.3k)</span>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
